[submodule "ConsoleFramework/vendor/GLFW"]
	path = ConsoleFramework/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "ConsoleFramework/vendor/glm"]
	path = ConsoleFramework/vendor/glm
	url = https://github.com/g-truc/glm.git
